.main_container {
  display: grid;
  grid-template-columns: 1.8fr 1.2fr;
  width: 100%;
}
.card {
  display: flex;
  position: absolute;
}

.card_container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.vertical_line {
  position: absolute;
  border-left: 1px solid rgb(158, 154, 154);
  height: 100vh;
  right: 0;
  top: 0;
}

.horizontal_line {
  position: absolute;
  border-bottom: 1px solid rgb(158, 154, 154);
  width: 100vw;
  bottom: 0;
}

.news_and_resources {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
